---
title: Tracking mouse X location
features:
  - Line Series Labels
---

<h5>{{title}}</h5>
<p>
  This example demonstrates a line chart where the line series labels have been
  configured to return the closest value based on the mouse location. For more
  details on the specific accessors available to this feature consult the <a href="https://github.com/heavysixer/d4/blob/master/src/features/line-series-labels.js#L65">source code</a>.
</p>
<hr/>
<script type="text/javascript" charset="utf-8" id='source_code'>
'use strict';

$(document).ready(function() {

  // CSV format looks like this:
  // "Oct 27, 2009",197.37,27019700
  var parseDate = d3.time.format('%b %Y').parse;

  // We'll use the D3 CSV parser, and call the renderChart function
  // directly from it.
  d3.csv('{{assets}}/data/stocks.csv')
  .row(function(d) {
    return {
      date: parseDate(d.date),
      price: +d.price,
      symbol: d.symbol
    };
  })
  .get(function(error, rows) {
    var parser = d4.parsers.nestedGroup()
    .x('date')
    .y('price')
    .nestKey('symbol')
    .value('price')(rows);
    renderChart(parser.data);
  }.bind(this));

  var renderChart = function(data){
    var chart = d4.charts.line()
      .marginLeft(70)
      .marginRight(70)
      .outerWidth($('#time_series').width())
      .x(function(x) {

        // by default d4 makes the x axis ordinal so we'll set it to time
        // and use the date property of the data object as the key.
        x.scale('time');
        x.key('date');
      })
      .y(function(y) {
        y
        .key('price');
      })

      .using('lineSeriesLabels', function(labels){

        // By setting this to true we are enabling d4 to track and then display a point along a line series.
        labels.displayPointValue(true)
        .pointLabelText(function(d, datum){
          if(d[this.y.$key] !== null) {
            return datum.key + ' ' + d[this.y.$key];
          }
        });
      });

    d3.select('#time_series')
      .datum(data)
      .call(chart);
  };
});


</script>
<div id="time_series"></div>
<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript"></code></pre>
<h6>CSS</h6>
<pre><code id="code" class="language-css">
.dataPoint {
    fill:none;
}
#time_series .d4 .series0 path,  #time_series .lineSeriesLabels text.series0, #time_series .lineSeriesLabels .dataPoint.series0 {
    stroke: darkred;
}
#time_series .lineSeriesLabels text.series1, #time_series .lineSeriesLabels .dataPoint.series1 {
    stroke: green;
}
#time_series .lineSeriesLabels text.series2, #time_series .lineSeriesLabels .dataPoint.series2 {
    stroke: blue;
}
#time_series .lineSeriesLabels text.series3, #time_series .lineSeriesLabels .dataPoint.series3 {
    stroke: purple;
}
#time_series .lineSeriesLabels text.series4, #time_series .lineSeriesLabels .dataPoint.series4 {
    stroke: orange;
}
#time_series .lineSeriesLabels text.series5, #time_series .lineSeriesLabels .dataPoint.series5 {
    stroke: yellow;
}
</code></pre>
{{> disqus }}
